html {
    background-color:  #000;
}

#time {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -115px;
    width: 230px;
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    color: #fff;
    //
}

